<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/style.css" />
    <script type="module" src="src/main.js"></script>
    <script type="module" src="router/router.js"></script>
    <script type="module" src="src/js/nav-menu.js"></script>
    <script type="module" src="src/js/sfx.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uriah's website :3</title>
  </head>

  <body
    class="flex h-[calc(100dvh)] cursor-default flex-col gap-10 overflow-y-hidden p-5 font-pixel text-base text-primary selection:bg-primary selection:text-secondary active:cursor-stab md:p-5"
    id="contentBody"
  >    <canvas id="bg"></canvas>
 
  <div
      id="content"
      class="group flex-grow overflow-y-auto rounded-sm border-2 border-solid border-primary border-opacity-80 p-5 transition-all shadow-primary hover:border-opacity-100 lg:p-5"
    >
      <div
        id="page-header"
        class="fixed left-8 top-2 rounded-sm border-2 border-primary border-opacity-80 bg-scene px-2 group-hover:border-opacity-100 md:left-10"
      >
      <script>
    const routeBox = document.getElementById('page-header');
    routeBox.innerHTML = window.location.pathname;

    // Update route content on popstate event (page navigation)
    window.onpopstate = () => {
      routeBox.innerHTML = window.location.pathname;
    };
      </script>
      </div>
      <div
        id="percent"
        class="rounded-xs fixed right-8 top-8 z-10 w-20 bg-primary pt-1 text-center text-scene transition-all duration-300 md:right-10 md:top-10"
      >
        scroll
      </div>
      <div id="view" />
    </div>
  </div>
    <!-- <NavMenu /> -->
    <nav-menu id="header"
    class="flex select-none items-center justify-center transition-colors ease-in-out"
    ></nav-menu>
    <!-- <div
      id="header"
      class="order-2 flex select-none items-center justify-center transition-colors duration-500 ease-in-out"
    >
      <div id="hcol1" class="pr-4 text-right md:pr-14">
        <a href="/" id="home">home</a><br />
        <a href="/portfolio" id="portfolio">portfolio</a>
        <br />
        <a href="/controls" id="controls">controls</a>
      </div>
      <div id="hcol2" class="flex justify-center">
        <canvas id="eyebox"> </canvas>
      </div>
      <div id="hcol3" class="pl-4 text-left md:pl-14">
        <a href="/music" id="music">music</a> <br />
        <a href="/gallery" id="gallery">gallery</a> <br />
        <a href="/the-box" id="the-box">the box</a>
      </div>
    </div> -->
    
    <!-- music player -->
  <div
        id="music-container"
        class="group/container flex max-h-20 rounded-sm border-2 border-primary border-opacity-80 duration-300 hover:border-opacity-100 md:max-h-28"
    >
        <div
            id="img-container"
            class="group/tooltip relative flex h-20 w-20 flex-shrink-0 p-1 pb-2 md:h-full md:w-28 md:pb-1"
        >
            <img
                src="https://media.tenor.com/kxefu8OQcD8AAAAC/loli-anime.gif"
                id="cover"
                class="cursor-active active:cursor-stabbing"
            />
            <!-- <img
                id="cover-tooltip"
                src="https://media.tenor.com/kxefu8OQcD8AAAAC/loli-anime.gif"
                class="absolute left-[calc(50%-2px)] z-10 hidden h-full rounded-sm border-[0.5px] border-primary group-hover/tooltip:top-[-160%] group-hover/tooltip:block group-hover/tooltip:scale-[200%]"
            /> -->
        </div>
        <div id="music-container-inner" class="grid w-full grid-flow-col grid-cols-7 grid-rows-3">
            <div
                id="volume-container"
                class="no-select col-span-1 row-span-1 flex w-full cursor-active border-b-2 border-l-2 border-primary border-opacity-80 p-1 text-sm text-secondary transition-colors duration-300 active:cursor-stabbing group-hover/container:border-opacity-100"
            >
                <button
                    id="volume-0"
                    class="vol-btn transition-colors flex w-1/5 items-center justify-center bg-primary"
                >
                    <p class="decoration-secondary decoration-double decoration-2 underline-offset-2" >0%</p>
                </button>
                <button
                    id="volume-25"
                    class="vol-btn transition-colors flex w-1/5 items-center justify-center bg-primary"
                >
                    <p class="decoration-secondary decoration-double decoration-2 underline-offset-2" >25%</p>
                </button>
                <button
                    id="volume-50"
                    class="vol-btn transition-colors flex w-1/5 items-center justify-center bg-primary"
                >
                    <p
                        class="decoration-secondary decoration-double decoration-2 underline-offset-2"
                    >
                        50%
                    </p>
                </button>
                <button
                    id="volume-75"
                    class="vol-btn transition-colors flex w-1/5 items-center justify-center border-secondary bg-primary"
                >
                    <p class="decoration-secondary decoration-double decoration-2 underline-offset-2" >75%</p>
                </button>
                <button
                    id="volume-100"
                    class="vol-btn transition-colors flex w-1/5 items-center justify-center border-secondary bg-primary"
                >
                    <p class="decoration-secondary decoration-double decoration-2 underline-offset-2" >100%</p>
                </button>
            </div>
            <div id="music-info" class="col-span-1 row-span-2 flex flex-col justify-center pl-1">
                <div id="title" ref="title" class="md:text-md text-nowrap text-sm">
                    {{ songsList[index].title }}
                </div>
                <h4 id="spotify-link" class="invisible text-sm underline md:visible">Spotify</h4>
            </div>
            <div
                id="music-progress"
                class="col-span-6 row-span-1 flex cursor-active active:cursor-stabbing"
            >
                <div
                    @mouseup="progressActive"
                    id="progress-container"
                    class="w-full border-b-2 border-l-2 border-primary border-opacity-80 p-1 duration-300 group-hover/container:border-opacity-100"
                >
                    <div
                        id="progress"
                        class="h-full w-0 bg-primary bg-fixed transition-all duration-150 ease-in"
                    >
                        <div
                            class="h-full bg-gradient-to-r from-transparent from-20% to-secondary bg-fixed"
                        ></div>
                    </div>
                </div>
            </div>
            <!-- bg-gradient-to-r from-purple-700 to-orange-700 -->
            <div id="navigation" class="col-span-6 row-span-2 flex gap-0 justify-center">
                <button @click="changeSong(-1)" id="prev">
                    <div class="backward-icon opacity-80 min-h-[33px] w-[64px] transition-all duration-300 group-hover/container:opacity-100">  </div>
                    <!-- <BackwardIcon class="h-6 w-6" /> -->
                </button>
                <button id="play-pause" @click="playPause()" class="cursor-pointer pb-0">
                    <!-- <PlayIcon v-if="!isPlaying" class="play-icon h-8 w-8" /> -->
                    <div class="pop play-icon opacity-80 min-h-[33px] w-[64px] transition-all duration-300 group-hover/container:opacity-100">  </div>
                    <!-- <img src="assets/buttons/off2.png" class="play-icon h-[25px] opacity-80 transition-all duration-300 group-hover/container:opacity-100"> -->
                    <div class="pop hidden pause-icon opacity-80 min-h-[33px] w-[64px] transition-all duration-300 group-hover/container:opacity-100">  </div>
                    <!-- <img src="assets/buttons/on2.png" class="pause-icon h-[25px] hidden"> -->
                    <!-- <PauseIcon v-if="isPlaying" class="pause-icon h-8 w-8" /> -->
                </button>
                <button @click="changeSong(1)" id="next">
                    <!-- <ForwardIcon class="h-6 w-6" /> -->
                    <div class="pop forward-icon opacity-80 min-h-[33px] w-[64px] transition-all duration-300 group-hover/container:opacity-100">  </div>
                </button>
            </div>
        </div>
    </div>
  </body>
</html>


<style>

.play-icon {
  image-rendering: pixelated;
  background-image: url("assets/buttons/off2.png");
  background-size: cover;
  -webkit-mask-image: url("assets/buttons/off2.png");
  -webkit-mask-mode: alpha;
  -webkit-mask-size: cover;
  mask-image: url("assets/buttons/off2.png");
  mask-mode: alpha;
  mask-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(var(--color-primary));
  }

  .pause-icon {
  image-rendering: pixelated;
  background-image: url("assets/buttons/on2.png");
  background-size: cover;
  -webkit-mask-image: url("assets/buttons/on2.png");
  -webkit-mask-mode: alpha;
  -webkit-mask-size: cover;
  mask-image: url("assets/buttons/on2.png");
  mask-mode: alpha;
  mask-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(var(--color-primary));
  }

  .forward-icon {
  image-rendering: pixelated;
  background-image: url("assets/buttons/forward.png");
  background-size: cover;
  -webkit-mask-image: url("assets/buttons/forward.png");
  -webkit-mask-mode: alpha;
  -webkit-mask-size: cover;
  mask-image: url("assets/buttons/forward.png");
  mask-mode: alpha;
  mask-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(var(--color-primary));
  }

  .backward-icon {
  image-rendering: pixelated;
  background-image: url("assets/buttons/backward.png");
  background-size: cover;
  -webkit-mask-image: url("assets/buttons/backward.png");
  -webkit-mask-mode: alpha;
  -webkit-mask-size: cover;
  mask-image: url("assets/buttons/backward.png");
  mask-mode: alpha;
  mask-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(var(--color-primary));
  }



</style>

<script>

// import axios from "axios";

//   const getBoxes = async () => {
//   try {
//     const response = await axios.get(
//       "https://uriah.website/wp-json/hs/v1/boxes"
//     );
//     const boxes = response.data;
//     console.log('the fuck?')
//   }catch (err) {
//     console.log(err);
//   }
// }

const getBoxes = async () => {
  const boxes = await fetch("https://uriah.website/wp-json/hs/v1/boxes").then((response) => response.json());

  const latestBox = boxes[0].hex

  console.log(boxes)
  console.log('the latest box color is: ', latestBox)

  document.documentElement.style.setProperty(
      "--box-color",
      latestBox
    );
  const boxesFetched = new Event('boxesFetched')
  document.dispatchEvent(boxesFetched)
}

getBoxes()
</script>