@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-secondary: 10 10 10;
    --color-tertiary: 99 99 99;
    --prev-color-primary: 99 99 99;
    --box-color: ;
    --color-scene: 0 0 0;
    --cursor-primary: url("../assets/cursor-placeholder.png");
  }
  a,
  button,
  router-link,
  input {
    @apply cursor-active;
  }
  a:active,
  button:active,
  router-link:active,
  input:active {
    @apply cursor-stabbing;
  }
  /* *:active
        :not(a:active, #cover, button:active, router-link:active, input:active, #music-progress) {
        @apply cursor-stab;
    } */
  #contentBody {
    @apply active:cursor-stab !important;
  }
}

* .cursor-animating {
  /* background-color: white; */
  -webkit-animation: cursor 0.5s 1;
  animation: cursor 0.5s 1;
}

@keyframes spinpop405 {
  0% {
    transform: rotate(45deg) scale(100%);
  }
  50% {
    transform: rotate(225deg) scale(120%);
  }
  100% {
    transform: rotate(405deg) scale(100%);
  }
}

@keyframes pop {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}

.pop:not(:active) {
  animation: pop 150ms linear forwards;
}

.spin-on-event {
  animation: spinpop405 500ms linear forwards;
}

.rotate {
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes cursor {
  0% {
    cursor: url(/cursor/cursor-stab.png), auto;
  }
  25% {
    cursor: url(/cursor/cursor-active.png), auto;
  }
  50% {
    cursor: url(/cursor/cursor-stab.png), auto;
  }
  75% {
    cursor: url(/cursor/cursor-active.png), auto;
  }
  100% {
    cursor: url(/cursor/cursor-placeholder.png), auto;
  }
}

@keyframes cursor {
  0% {
    cursor: url(/cursor/cursor-active-stab.png), auto;
  }
  25% {
    cursor: url(/cursor/cursor-active.png), auto;
  }
  50% {
    cursor: url(/cursor/cursor-stab.png), auto;
  }
  75% {
    cursor: url(/cursor/cursor-active.png), auto;
  }
  100% {
    cursor: url(/cursor/cursor-placeholder.png), auto;
  }
}

@font-face {
  font-family: "Birch Leaf";
  src: url("/fonts/BirchLeaf.ttf");
}
/* * {
} */

/* a,
button,
router-link,
input {
    @apply cursor-active;
} */

/* *:active
    :not(a, button, router-link, input, #cover, .vol-btn, #progress-container)
    :not(
        a:active,
        button:active,
        router-link:active,
        input:active,
        #cover:active,
        .vol-btn:active,
        #progress-container:active
    ) {
    @apply cursor-stab;
} */

/* a:active,
button:active,
router-link:active,
input:active,
#cover:active,
.vol-btn:active,
#progress-container:active {
    @apply cursor-stabbing !important;
}

a,
button,
router-link,
input,
#cover,
.vol-btn,
#progress-container {
    @apply cursor-active;
} */
.warp::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0px; /* Expand outward by the blur radius */
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: calc(100%);
  height: calc(50px);
  filter: blur(1px);
  backdrop-filter: invert(100%) opacity(1%) blur(2px);
  /* backdrop-filter: opacity(100%); */
  background: no-repeat
    linear-gradient(
      rgba(10, 0, 0, 0.5) 0%,
      rgba(0, 10, 0, 0.2) 50%,
      rgba(0, 0, 10, 0.5) 100%
    );
  z-index: 998;
  animation: 3s scanLine infinite linear;
}
@keyframes scanLine {
  0% {
    transform: translateY(-100vh); /* Start below the screen */
  }
  100% {
    transform: translateY(100vh); /* Above the screen */
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0.1) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 999;
  background-size: 100% 7px, 5px 100%;
  pointer-events: none;
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
      -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
      -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
      -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
      -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
      -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
      -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
      -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
      -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
      -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
      -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
      -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
      -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
      -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
      -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
      -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
      -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
      -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
      -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
      -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
      -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
      -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
.crtext {
  animation: textShadow 1.6s infinite;
}

@keyframes boxShadowBlur {
  0% {
    box-shadow: 0px 0px 5px 2px rgba(0, 30, 255, 0.5),
      0px 0px 10px 4px rgba(255, 0, 80, 0.3);
  }
  25% {
    box-shadow: 0px 0px 15px 5px rgba(0, 30, 255, 0.7),
      0px 0px 20px 8px rgba(255, 0, 80, 0.5);
  }
  50% {
    box-shadow: 0px 0px 10px 3px rgba(0, 30, 255, 0.6),
      0px 0px 15px 6px rgba(255, 0, 80, 0.4);
  }
  75% {
    box-shadow: 0px 0px 20px 7px rgba(0, 30, 255, 0.8),
      0px 0px 25px 10px rgba(255, 0, 80, 0.6);
  }
  100% {
    box-shadow: 0px 0px 5px 2px rgba(0, 30, 255, 0.5),
      0px 0px 10px 4px rgba(255, 0, 80, 0.3);
  }
}

.crtbox {
  animation: boxShadowBlur 3s infinite;
}

.no-select {
  user-select: none;
}

@keyframes bgcolor {
  from {
    background-color: rgb(var(--prev-color-primary));
    color: rgb(var(--prev-color-primary));
  }
  to {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--prev-color-primary));
  }
}

* {
  -webkit-font-smoothing: none;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  scrollbar-width: none;
}

.router-link-active {
  /* @apply underline opacity-60; */
  @apply bg-primary bg-opacity-30;
}

#bg {
  margin: 0px;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 0;
}

:focus-visible {
  outline: rgb(var(--color-primary)) dotted 2px;
  outline-offset: 2px;
}
/* .transition-colors-manual {
  transition-property: color, background-color, border-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms !important;
  transition-delay: 0ms;
} */

#volume-0 {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-primary)) 30%,
    rgb(var(--color-scene))
  );
}

#volume-25 {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-primary)) 47.5%,
    rgb(var(--color-scene))
  );
}
#volume-50 {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-primary)) 65%,
    rgb(var(--color-scene))
  );
}
#volume-75 {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-primary)) 82.5%,
    rgb(var(--color-scene))
  );
}
#volume-100 {
  background-color: color-mix(
    in srgb,
    rgb(var(--color-primary)) 100%,
    rgb(var(--color-scene))
  );
}
